@model Model.Product

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Cadastro de Produto</h1>
    <div class="container">

        <form id="formProduto" method="post"
              asp-action="Create" asp-controller="Product">

        <div class="row" style="accent-color:initial">
             <div class="form-group">
                    <label asp-for="Name">Nome do Produto:</label>
                    <input type="text" class="form-control"
                           asp-for="Name" />
             </div>
        </div>

            <button id="btnProduct"
                    type="submit"
                    class="btn btn-primary"
                    value="Cadastrar">
                Cadastrar
            </button>

        </form>

    </div>
</div>